* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  background-color: #333333;
}

h1,
p {
  text-align: center;
  /* margin: 2rem 0 0 0; */
  color: #ffffff;
}

h1 {
  font-family: "Pacifico", cursive;
  letter-spacing: 0.2rem;
}

h1.main-heading {
  font-size: 3rem;
  padding-top: 3rem;
}

header {
  width: 100vw;
  height: 5rem;
  background-color: #2d8ac7;
}

#navbar {
  text-align: center;
}

#navbar h1 {
  font-size: 2.5rem;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 4vw 50vw 46vw;
  grid-template-rows: 89vh;
}

.grid-1 {
  height: 100%;
  width: 100%;
  background-color: #333333;
}

.grid-2 {
  height: 100%;
  width: 100%;
}

.column-map {
  height: 100%;
  width: 100%;
}

.grid-3 {
  height: 100%;
  width: 100%;
}

.column-navigation a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 15px;
}

.column-navigation a:hover {
  background-color: #333333;
  cursor: pointer;
}

.active {
  background-color: #4f8098;
}

.column-menu {
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #333333;
}

#cityname {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  height: 20%;
  text-align: center;
}

#cityimage {
  width: 100%;
  height: 40%;
  padding-top: 2rem;
  border-radius: 2px;
  object-fit: contain;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #2d8ac7;
  text-align: center;
}

footer a {
  color: #333333;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 5vh 50vh 45vh;
  }
  .column-navigation {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .column-navigation a {
    display: inline;
  }
  #cityname {
    height: 5%;
    padding: 1rem;
    text-align: center;
  }
  #cityimage {
    display: block;
    margin: 1rem auto;
    height: 60%;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 5vh 50vh 45vh;
  }
  .column-navigation a {
    font-size: 10px;
    padding: 2px;
  }
  #cityname {
    height: 10%;
    padding: 1rem;
    text-align: center;
  }
  #cityimage {
    height: 50%;
  }
}
